@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
.overFXN {
  overflow-x: hidden;
}

.pt-75 {
  padding-top: 75px;
}

a, a:hover {
  color: #13cb86;
}
